{{ define "main" }}
	{{ "<!-- Main -->" | safeHTML }}
	<section id="main" class="container-bigger">
	  <header>
	    <h2>{{ .Params.title }}</h2>
		  <p>{{ .Params.description }}</p>
	  </header>

  	  {{ $pages := .Paginator.Pages }}
      {{ $len := (len $pages) }}
      
      <div class="row no-collapse 50% uniform">
            {{ range .Pages.ByDate }}
            <div class="col-4 col-12-mobilep">
              <div class="image-item-bigger">
                <span class="">
                  <a href="{{ .Permalink }}">
                    <img src="{{ .Params.image | absURL }}"></img>
                  </a/>

                </span>

              
                
              </div>
              <div class="video-caption-bigger  ">
                <a  href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                  <p>{{ .Summary | plainify | safeHTML | truncate 100 }}</p>
                  {{ if .Truncated }}
                    <a class="see-more-btn" href="{{ .Permalink }}" >
                        <button class="button small alt">Leer más <i class="fas fa-angle-double-right"></i></button>
                    </a>
                  {{ end }} {{/* if */}}
                  {{ with .Params.subtitle }} | {{ . | markdownify }} | {{ end }}
                  {{ with .Params.passage }} | {{ . | markdownify }} | {{ end }}
                
              </div>
            </div>
           
            {{ end }}          
      </div>
    
    <hr />
    {{ template "_internal/pagination.html" . }}
      
		
	</section>
{{ end }}